<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anojenjeyapalan.ask6ixgod">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <meta-data
                android:name="com.parse.APPLICATION_ID"
                android:value="bnK8SwHRBrGPDtMb5BpQtEtOlzAByBvB3WWjtGmX" />
            <meta-data
                android:name="com.parse.CLIENT_KEY"
                android:value="JYxhtAjB3k5IZ0K2yNPbrxlE71nij5UtuYfE4Cd0" />

        </activity>




    </application>

</manifest>
